<!-- app.component.html -->

<div class="wrapper">
  <div class="saldo">
    <h2>{{ balance }}zł</h2>
  </div>

  <div class="wplywy">
    <h3>Wpływy:</h3>
    <ul>
      <li *ngFor="let income of incomeList">
        {{ income.amount }} zł - {{ income.title }}
      </li>
    </ul>
  </div>

  <div class="wydatki">
    <h3>Wydatki:</h3>
    <ul>
      <li *ngFor="let expense of expensesList">
        {{ expense.amount }} zł - {{ expense.title }}
      </li>
    </ul>
  </div>

  <div class="dodaj">
    <label
      >Kwota: <input [(ngModel)]="transactionAmount" type="number"
    /></label>
    <label>Tytuł: <input [(ngModel)]="transactionTitle" type="text" /></label>
    <button (click)="addTransaction(transactionAmount, transactionTitle)">
      Dodaj transakcję
    </button>
  </div>
</div>
